.DatePicker__calendarContainer {
  position: absolute;
  top: calc(100% + 2em);
  /* left: 50%;                           Comment these out
  transform: translateX(-50%); */         /*Comment these out*/
}