.contents_centered {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.contents_padded_lg {
  padding: 5%;
}

.contents_padded_md {
  padding: 2%;
}

.contents_padded_sm {
  padding: 1%;
}

.full_available_width {
  width: 100%;
}

.fixed_width_large {
  width: 90%;
}

.full_available_height {
  height: 100%;
}

.full_screen {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

.space_child_columns {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.space_child_rows {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.spacing_vertical {
  margin-bottom: 1vh;
  margin-top: 1vh;
}
