.app-card {
    margin-top: "1%";
    margin-bottom: "1%";
}

.app-flex-column {
    align-items: "center";
    display: "flex";
    flex-direction: "column";
    justify-content: "center";
}

.app-flex-row {
    align-items: "center";
    display: "flex";
    flex-direction: "row";
    justify-content: "center";
}

.app-no-padding {
    padding: "0px"
}